*{
    margin:0;
    padding:0;
}
body {
    background-image: url('/static/vendor/library.png'); /* Замініть 'background-image.jpg' на шлях до вашого зображення */
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    color:white;
    }
#header {
    width: 100%;
    height: 40px;
    text-align: center;
    border-bottom: 4px solid #70dc30;
    background: #5faae7;
    color: #fff;
    position: fixed;
}
#nav {
    padding-top: 10px;
}
#nav li {
    display: inline;
    border: 1px solid silver;
    background: #5e40d5;
    padding: 10px 20px;
    cursor: pointer;
}
#nav li:hover a{
    color: #f34a9f;
    background:#fff;
    border-radius: 5px;
}
#nav li:hover{
    color: #f34a9f;
    background:#fff;
    border-radius: 5px;
}
#nav li a {
    color: #fff;
    background: #5e40d5;
    cursor: pointer;
}

